/* Put your CSS here */
html, body {
    margin: 20px;
}

.navbar .nav > li > a.active { font-weight: bold; }

ul.link-list {
    margin: 0 0 10px 0;
}

ul.link-list li {
    line-height: 1.5em;
    border-bottom: 1px #ccc solid;
    list-style-type: none;
}