<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Ember Dashboard</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

<script type="text/x-handlebars" id="application">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Ember-Dashboard</a>
      <ul class="nav">
        <li><a href="#">Home</a></li>
        <li>{{#linkTo 'links'}}Links{{/linkTo}}</li>
        <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
      </ul>
    </div>
  </div>
  <div class="container">
    {{outlet}}
  </div>


</script>

<script type="text/x-handlebars" id="about">
  <p>Much ado about nothing.</p>
</script>

<script type="text/x-handlebars" id="links">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3" id="left-pane">
        <button class="btn-small btn btn-primary" id="add-link" {{action 'addLink'}}>
          <i class="icon-plus icon-white"></i>Add Link
        </button>
        <p></p>
        <ul class="link-list">

          {{#each model}}
          <li>{{#linkTo 'link' this}}{{title}}
            <small class="muted">{{date created_at}}</small>
            {{/linkTo}}
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="span9">
        {{outlet}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="link">
  <div class="page-header">
    <h3>{{title}}
      <br/><small>{{url}}</small>
    </h3>
    <p>{{tags}}</p>

    {{#if isEditing}}
    <button class="btn btn-small" id="link-done-edit" {{action 'doneEditing'}}><i class="icon-edit"></i><span>Save Link</span></button>
    {{partial 'link/edit'}}
    {{else}}
    <button class="btn btn-small" id="link-edit" {{action 'edit'}}><i class="icon-edit"></i><span>Edit Link</span></button>

    {{/if}}

  </div>
</script>

<script type="text/x-handlebars" id="link/_edit">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title</label>
      <div class="controls">
        {{view Ember.TextField valueBinding='title'}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputURL">URL</label>
      <div class="controls">
        {{view Ember.TextField valueBinding='url'}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputTags">Tags</label>
      <div class="controls">
        {{view Ember.TextField valueBinding='tags'}}
      </div>
    </div>
  </form>
</script>

<!-- Javascript libraries ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<script src="js/libs/jquery-1.9.1.js"></script>
<script src="js/libs/handlebars-1.0.0-rc.3.js"></script>
<script src="js/libs/ember-master-20130339.js"></script>
<script src="js/libs/ember-data.js"></script>
<script src="js/libs/moment.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
